{% extends "base.html" %}
{% block content %}
<div class="col-xl-12">
    <h1 class="text-center text-uppercase my-3">Карта расположения точек для сбора мусора</h1>
</div>
<div class="row">
    <div class="col-xl-12">
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d21682.924989174255!2d38.93342795!3d47.20942785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1525077867426" width="1140" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        <iframe src="https://www.google.com/maps/d/embed?mid=1SQd_CI-uovXTlqSABdD1sLiEdYyDfYtX"  width="1140" height="800"></iframe>
    </div>
</div>
<div class="col-xl-12">
    <div class="card my-2">
        <div class="card-header">
            Точка на карте 1
        </div>
        <div class="card-body text-secondary">
            <p class="card-text">Здесь расположинна точка для сбора мусора.</p>
            <p class="card-text">Координаты точки 1</p>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header">
            Точка на карте 2
        </div>
        <div class="card-body text-secondary">

            <p class="card-text">Здесь расположинна точка для сбора мусора.</p>
            <p class="card-text">Координаты точки 2</p>
        </div>
    </div>
</div>

{% endblock %}
