.news {
    margin: 20px 0;
    background-color: lightblue;
    border-radius: 10px;
}
h3 {
    margin: 15px 0 0 0;
}
.foto-news {
    width: 31%;
    margin: 10px 0;
}
.text-news {
    width: 67%;
    margin-top: 10px;
    margin-right: 10px;
}